!!! 5
%html
  %head
    %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    %script(type="text/javascript" src="/javascript/centaur.js")
    :css
      body {
        text-align: center;
      }
      textarea {
        font-family: monaco, courier;
        width: 700px;
        height: 600px;
      }
  %body
    %h1 text-align: centaur;
    %textarea
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor, leo non varius cursus, sapien nulla fermentum nisl, sit amet faucibus lorem ligula a lorem. Vestibulum scelerisque sem tortor. Nulla dignissim mattis mattis. Proin tincidunt sapien non purus sagittis iaculis ac non urna. Cras sodales dapibus diam, at auctor neque cursus mattis. Vestibulum nec porta urna. Suspendisse eros erat, pulvinar vel facilisis id, gravida vel sapien. Donec aliquam ante sed leo egestas varius. Fusce imperdiet nulla lacinia massa feugiat a commodo justo ullamcorper. Aliquam tincidunt consequat ornare. Vestibulum tristique suscipit nibh eu dignissim. Donec nec elit elit, sit amet pellentesque dolor. Aenean volutpat odio vel turpis posuere eu feugiat odio congue.

      Curabitur arcu nibh, vestibulum in porta non, gravida eu ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum dui neque, lobortis non interdum at, tempus quis est. Nunc commodo diam ac quam feugiat in ornare sapien congue. Praesent consectetur aliquet felis ac facilisis. Praesent sed nisi vel nisi tristique molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis nisl tortor, facilisis at pharetra vitae, eleifend at ante. Proin congue imperdiet odio, et laoreet enim scelerisque ut. Fusce in sapien ut lorem tristique mollis. Vivamus aliquet mattis odio sit amet lobortis. Sed auctor gravida euismod. Aenean ultricies auctor luctus. Curabitur id neque in massa elementum consectetur a vel elit. Quisque orci neque, pulvinar sed facilisis id, accumsan in mauris. In sed nisl nibh.

      Duis ut lectus ante, vitae ornare leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac nisi augue, at malesuada leo. Duis a ante vitae nunc porta venenatis a sit amet justo. Duis sed quam tellus. In hendrerit turpis sed odio consectetur iaculis. Aenean massa orci, eleifend sit amet suscipit id, fermentum ut arcu. Donec scelerisque lobortis nulla, eu porta metus pellentesque quis. Cras non lorem velit. Sed faucibus metus a augue luctus scelerisque. Donec quis congue magna. Pellentesque condimentum sollicitudin eros, vel ultrices ante ultricies sed. Phasellus nec purus lorem.
    %p
      %input(type='submit' value='centaur text')