!!! 5
%html
  %head
    %script(type="text/javascript" src="/javascript/centaur.js")
    %script(type="text/javascript" src="http://use.typekit.com/qda1vvu.js")
    :javascript
      try{Typekit.load();}catch(e){}
    :css
      body {
        text-align: center;
        font-family: "droid-sans-mono-1","droid-sans-mono-2", monaco, courier;
        margin: 0;
        padding: 0;
      }
      p#message {
        color: #ff0000;
        font-size: 12px;
        text-transform: uppercase;
      }
      textarea {
        font-family: monaco, courier;
        width: 500px;
        height: 600px;
      }
      footer {
        background: #000;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
        font-size: 12px;
      }
      footer p {
        margin: 5px 0;
      }
      footer a {
        color: #fff;
        text-decoration: none;
          border-bottom: 1px dotted #aaa;
      }
      footer a:hover {
        border-bottom: 1px dotted #fff;
      }
  %body
    %h1 text-align: centaur;
    %p#message
    %textarea
    %p
      %input(type='submit' value='centaur text')
    %footer
      %p
        This essential service provided to you by
        %a(href="http://camerondaigle.com") Cameron Daigle
    :javascript
      var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-308731-12']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();