!!! 5
%html
  %head
    %title text-align: centaur;
    %meta(type="description" content="Text Align Centaur is a handy online tool for centauring text, brought to you by Cameron Daigle.")
    %script(type="text/javascript" src="/javascript/centaur.js")
    %script(type="text/javascript" src="http://use.typekit.com/qda1vvu.js")
    :javascript
      try{Typekit.load();}catch(e){}
    :css
      body {
        text-align: center;
        font-family: "droid-sans-mono-1","droid-sans-mono-2", monaco, courier, monospace;
        margin: 0;
        padding: 0;
        background: #000;
      }
      #main {
        background: #fff;
        padding: 20px 0;
      }
      h1 {
        margin: 0;
      }
      a {
        color: #ff0000;
      }
      p {
        font-size: 12px;
      }
      p#message {
        color: #ff0000;
        font-size: 12px;
        text-transform: uppercase;
      }
      textarea {
        font-family: monaco, courier, monospace;
        width: 500px;
        height: 600px;
        font-size: 12px;
      }
      footer {
        background: #000;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
        font-size: 12px;
      }
      footer p {
        margin: 5px 0;
      }
      footer a {
        color: #fff;
        text-decoration: none;
          border-bottom: 1px dotted #aaa;
      }
      footer a:hover {
        border-bottom: 1px dotted #fff;
      }
  %body
    #main
      %h1 text-align: centaur;
      %p#message
      %textarea
      %p
        %input(type='submit' value='centaur text')
      %p
        or
        %a(href="http://rubygems.org/gems/centaur") gem install centaur
        (thanks to <a href="http://hashrocket.com/people/robert-pitts">Robert</a> for beating this dead (man-)horse a little longer)
    %footer
      %p<>
        This essential service provided to you by
        %a(href="http://camerondaigle.com") Cameron Daigle
        (<a href="http://twitter.com/camerondaigle">@camerondaigle</a> on Twitter)
    :javascript
      var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-308731-12']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();